<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <div class="form" style="padding-top: 15px;">
    <mat-form-field class="full-width">
      <mat-label>Channle ID</mat-label>
      <input
        (keyup)="onKey($event)"
        matInput
        #message
        maxlength="256"
        placeholder="Youtube Channle id ..."
      />
      <mat-hint align="start"
        ><strong>Enter Channle Id please</strong>
      </mat-hint>
    </mat-form-field>
    <button
      (click)="search()"
      class="full-width"
      mat-raised-button
      color="accent"
    >
      Search
    </button>
  </div>
  <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
    <div class="box" *ngFor="let video of ChannelVideos" cdkDrag>
      <mat-card>
        <mat-card-header>
          <div
            mat-card-avatar
            [ngStyle]="{
              'background-image': getImgUrl(
                video.snippet.thumbnails.medium.url
              ),
              'background-size': 'cover'
            }"
          ></div>
          <mat-card-title
            ><a>{{ video.snippet.title }} </a></mat-card-title
          >
        </mat-card-header>
        <iframe
          style="display: block; margin-left: auto; margin-right: auto;"
          width="560"
          height="315"
          [src]="getVideoUrl(video.id.videoId)"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
